:root {
    --color-brand: #e01d3f;
    --color-success: #3a04cf;
}

.Notifications {
    border: 3px dotted var(--color-brand);
    margin: 0;
    padding: 0;
    position: absolute;
    width: 98.5%;
    top: 10px;
    z-index: 999;
    font-weight: 500;
}

[data-priority="default"] {
    color: var(--color-success);
  }
  
  [data-priority="urgent"] {
    color: var(--color-brand);
  }