:root {
  --color-brand: #e01d3f;
  --color-success: #3a04cf;
}

.Notifications {
  border: 3px dotted var(--color-brand);
  padding: 0 20px;
  position: absolute;
  width: 95%;
  top: 10px;
  z-index: 999;
  font-weight: 500;
}

[data-priority="default"] {
  color: var(--color-success);
}

[data-priority="urgent"] {
  color: var(--color-brand);
}